<h1>Editing i inspecao</h1>

<%= render "form", i_inspecao: @i_inspecao %>

<br>

<div>
  <%= link_to "Show this i inspecao", @i_inspecao %> |
  <%= link_to "Back to i inspecaos", i_inspecaos_path %>
</div>
